/* ----- Global: Style CSS ----- */

/* Body */
body {
    background: #2F3542;
    background-image: linear-gradient(to right bottom, #3e152c, #411f38, #432843, #44324d, #453b57, #463d5c, #474062, #474267, #483e6a, #4b3a6b, #4e356d, #522f6d);
    min-height: 100vh;
  }
  
  
  /* Custom Global: scrollbar */
  
  /* Width */
  ::-webkit-scrollbar {
    width: 10px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 51, 255, 0) !important;
    border-radius: 5px !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #767f88 !important;
    border-radius: 5px !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #57606f !important;
    border-radius: 5px !important;
  }
  
  
  /* Custom Global: scrollbar (small) */
  #scrollbar-small::-webkit-scrollbar {
    width: 6px !important;
  }


  



/* footer */

footer {
    padding: 50px;
  }
  
  .footer-url {
    text-decoration: none;
    color: #57606f;
    transition: 0.5s ease-in-out;
  }
  
  .footer-url:hover {
    color: #a4b0be;
  }